body {
  background-color: #3399ff;
  font-family: 'Roboto Slab', serif
}

#area {
  background-color: grey;
  background-image:url(background.jpg);
  border-style: solid;
  border-width: 10px;
  height: 2100px;
  width: 2100px;
  position: relative;
  left: 0;
  right: 0;
}
#screen {
  margin: auto;
  width: 1000px;
  height:600px;
  overflow: hidden;
}
#sarea {
  width: 700px;
  height: 400px;
  left: 22%;
  top: 20%;
  position: absolute;
  opacity: 0.5;
}
#inside {
  opacity: 0.3;

  width:1850px;
  height:1850px;
  position: relative;
  left: 150;
  top: 150;

}
#player {
  background-image: url(player1.png);
  background-repeat: no-repeat;
  color: black;
  height: 40px;
  width: 40px;
  position: relative;
  left: 400px;
  top: 100px;
  animation: ;
}
p {
  padding: 0px 20px 0px 20px;
  display: inline-block;
  background-color: red;
  margin:;
}
#spleen {
  display: inline-block;
}
#pContainer {
  width: 80%;
  margin: 0 auto;
  background-color: #666699;
}
#level {
  background-color: #666699;
  float:right;
  color: white;
}
#score {
  margin-left: 5px;
  background-color: #666699;
  color: white;
}
#spleensCollected {
  margin-left: 5px;
  padding-right:  0px;
  background-color: #666699;
  color: white;
}
button {
  margin-left: 30px
}
#timer {
  margin-left: 20px;
  color: green;
  background-color: black;
  width: 50px;
}
#title {

  font-family: 'Nosifer', cursive;
  color: white;
  background-color:#666699;;
}

