#area {
  background-color: grey;
  background-image:url(background.jpg);
  border-style: solid;
  border-width: 10px;
  height: 2100px;
  width: 2100px;
  position: relative;
  left: 0;
  right: 0;
}
#screen {
  margin: auto;
  width: 1000px;
  height:600px;
  overflow: hidden;
}
#sarea {
  width: 700px;
  height: 400px;
  left: 22%;
  top: 20%;
  position: absolute;
  opacity: 0.5;
}
#inside {
  opacity: 0.3;

  width:1850px;
  height:1850px;
  position: relative;
  left: 150;
  top: 150;

}
#player {
  background-image: url(player1.png);
  background-repeat: no-repeat;
  color: black;
  height: 40px;
  width: 40px;
  position: relative;
  left: 400px;
  top: 100px
}
p {
  padding: 0px 20px 0px 20px;
  display: inline-block;
  background-color: red;
  margin:;
}
#spleen {
  display: inline-block;
  background-color: yellow;
}
#pContainer {
  width: 70%;
  margin: 0 auto;
  background-color: blue;
}
#level {
  float:right;
}
